<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038153810475-hcmrmiv47lmo6hflmfqeh31ub1pimhf2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038153810475-hcmrmiv47lmo6hflmfqeh31ub1pimhf2</string>
	<key>API_KEY</key>
	<string>AIzaSyB60RDZty7znULE2VF8UzrYpLTfyRE9hvE</string>
	<key>GCM_SENDER_ID</key>
	<string>1038153810475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unilessonAdmin</string>
	<key>PROJECT_ID</key>
	<string>unilesson-f7953</string>
	<key>STORAGE_BUCKET</key>
	<string>unilesson-f7953.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038153810475:ios:8fda565573d9d32a</string>
	<key>DATABASE_URL</key>
	<string>https://unilesson-f7953.firebaseio.com</string>
</dict>
</plist>